body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


.student-box{
  background-color: #111;
  word-wrap: break-word;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  padding: 5px 5px 0.1px 5px ;
}

.detail{
  background-color: #818181;
  display: grid;
  grid-auto-columns: 35px 175px 70px 175px 70px auto 170px 200px 100px;
  grid-auto-flow: column;
  column-gap: 5px;
}

.edit{
  background-color: red;
}

.sl-no{
  padding:5px 2.5px 5px 2.5px;
}

.Stud_det1{
  padding:5px 2.5px 5px 2.5px;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 5px;
}

.DOB{
  padding:5px 2.5px 5px 2.5px;
}

.Stud_det2{
  padding:5px 2.5px 5px 2.5px;
  display: grid;
  grid-template-rows: auto auto auto auto ;
  grid-gap: 10px;
  padding: 5px;
}

.Course{
  padding:5px 2.5px 5px 2.5px;
}

.Stud_det3{
  padding:5px 2.5px 5px 2.5px;
  display: grid;
  grid-template-rows: auto auto auto ;
  grid-gap: 10px;
  padding: 5px;
}

.Previous_parti{
  padding:5px 2.5px 5px 2.5px;
  display: grid;
  grid-template-rows: auto auto ;
  grid-gap: 10px;
  padding: 5px;
}

.photo{
  padding:5px 2.5px 5px 2.5px;
  display: grid;
  grid-template-rows: auto auto ;
  grid-gap: 10px;
  padding: 5px;
}

.signature{
  padding:5px 2.5px 5px 2.5px;
  display: grid;
  grid-template-rows: auto auto ;
  grid-gap: 10px;
  padding: 5px;
}