{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Localhost</title>
    
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<link rel="shortcut icon" type="image/png" href="{%static 'images\Rvlogo.png'%}"/>
<link rel="stylesheet" type="text/css" href="{%static 'css/sports.css' %}"/>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Ball Badminton</a>
        <a href="#">Volleyball</a>
        <a href="#">Kabaddi</a>
        <a href="#">Kho-Kho</a>
      </div>
      
      <div id="main">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
      
        <div class="student-box">
          <div class="detail">
            <div class="sl-no">
              <h6>Sl.no</h6>
            </div>
            <div class="Stud_det1">
                <div>1)Name of the student</div>
                <div>2)S/o,D/o</div>
                <div>3)Semester</div>
                <div>4)Branch</div>
                <div>5)Usn.No</div>
            </div>
            <div class="DOB">
              <h6>Date of birth</h6>
            </div>
            <div class="Stud_det2">
                <div>1)Blood Group</div>
                <div>2)Contact address</div>
                <div>3)Phone.No</div>
                <div>4)Mother Name</div>
            </div>
            <div class="Course">
              <h6>Name of the course</h6>
            </div>
            <div class="Stud_det3">
                <div>1)Passing year of 10+2 (PUC) Diploma / Degree</div>
                <div>2)Date of first admission to present course</div>
                <div>3)Date of first admission to present class/Sem</div>
            </div>
            <div class="Previous_parti">
            <div><h6>Previous game participation</h6></div>
                <div>1)Game</div>
                <div>2)Years</div>
            </div>
            <div class="photo">
            <div><h5>Photo</h5></div>
            </div>
            <div class="signature">
            <div><h5>Signature</h5></div>
            </div>
          </div>
          <div class="edit">
            <h1>Helllooooooooo</h1>
          </div>
        </div>
      </div>
</body>
<script src="{%static 'js\sports_det.js' %}"></script>
</html>